/*************************************************************************
----------------------------- VARIABLES -----------------------------
 *************************************************************************/

 :root {
    --blanco: #FFFFFF;
    -rojo: #E40821;
    --fondo: #F0F0F0;
    --fondo-tienda: #E7E7E7;
    --main-bg-color: black;
    --header-btn-bg-color: #005395;
    --azul-titulos: #005292;
}


/*************************************************************************
   ------------------------------ GEMERAL ------------------------------
 *************************************************************************/

/* HEADER 
____________________________________________________________________________________________________________________________________________________________________
____________________________________________________________________________________________________________________________________________________________________
____________________________________________________________________________________________________________________________________________________________________
*/

.menu-grande, .menu-movil {
    background-color: var(--fondo);
}

.header-btn {
    background-color: var(--blanco);
    border-radius: 3rem;
    color: var(--header-btn-bg-color);
    transition: background-color 0.2s ease-in-out;
}

.header-btn_link {
    text-decoration: none;
    color: var(--header-btn-bg-color);
}

.header-btn a {
    color: var(--header-btn-bg-color);
}
  
.header-btn:hover a {
    color: var(--blanco);
}

.header-nav_border_bg {
    padding-left: 50px;
}

.header-nav_border {
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
    background-color: var(--blanco);
}

.header-btn_text {
    font-size: 1.75rem;
}

.header-btn_movil a {
    color: var(--header-btn-bg-color);
}

.header-btn_movil:hover {
    background-color: #005395;
    width: 100%;
    border-radius: 3rem;
}

.header-btn_movil:hover a {
    color: var(--blanco);
}

/*  
____________________________________________________________________________________________________________________________________________________________________
____________________________________________________________________________________________________________________________________________________________________
____________________________________________________________________________________________________________________________________________________________________
HEADER FIN */

.sub-nosotros {
    background-color: var(--fondo);
}

.sub-productos {
    background-color: var(--header-btn-bg-color);
}

.sub-categorias_tienda {
    background-color: var(--fondo-tienda);
}

.sub-productos_tienda {
    background-color: var(--fondo-tienda);
}


/*************************************************************************
  ---------------------------- MEDIA QUERIES ----------------------------
 *************************************************************************/

@media(min-width: 1800px) {
    /* ________________________________ TODOS ________________________________ */


    /* ________________________________ Header ________________________________ */
    .header-btn_text {
        font-size: 1.50rem;
    }

    .header-btn:hover {
        background-color: #005395;
        width: 14%;
        border-radius: 3rem;
    }

    /* ________________________________ Footer ________________________________ */


    /* ________________________________ Home ________________________________ */


    /* ________________________________ Nosotros ________________________________ */


    /* ________________________________ Productos ________________________________ */


    /* ________________________________ Soluciones ________________________________ */


    /* ________________________________ Contacto ________________________________ */


}
   
/* xxl */
@media (min-width: 1400px) and (max-width: 1799px) {
    /* ________________________________ TODOS ________________________________ */
    

    /* ________________________________ Header ________________________________ */
    .header-btn_text {
        font-size: 1.25rem;
    }

    .header-btn:hover {
        background-color: #005395;
        width: 14%;
        border-radius: 3rem;
    }

    /* ________________________________ Footer ________________________________ */


    /* ________________________________ Home ________________________________ */


    /* ________________________________ Nosotros ________________________________ */


    /* ________________________________ Productos ________________________________ */


    /* ________________________________ Soluciones ________________________________ */


    /* ________________________________ Contacto ________________________________ */

}

/* xl */
@media (min-width: 1200px) and (max-width: 1400px) {
    /* ________________________________ TODOS ________________________________ */


    /* ________________________________ Header ________________________________ */
    .header-btn_text {
        font-size: 1rem;
    }

    .header-btn:hover {
        background-color: #005395;
        width: 14%;
        border-radius: 3rem;
    }

    /* ________________________________ Footer ________________________________ */


    /* ________________________________ Home ________________________________ */


    /* ________________________________ Nosotros ________________________________ */


    /* ________________________________ Productos ________________________________ */


    /* ________________________________ Soluciones ________________________________ */


    /* ________________________________ Contacto ________________________________ */

}

/* lg */
@media (min-width: 992px) and (max-width: 1200px) {
    /* ________________________________ TODOS ________________________________ */
   
    
    /* ________________________________ Home ________________________________ */


    /* ________________________________ Header ________________________________ */


    /* ________________________________ Footer ________________________________ */


    /* ________________________________ Nosotros ________________________________ */


    /* ________________________________ Productos ________________________________ */


    /* ________________________________ Soluciones ________________________________ */


    /* ________________________________ Contacto ________________________________ */

}

/* md */
@media (min-width: 768px) and (max-width: 992px) {
    /* ________________________________ TODOS ________________________________ */


    /* ________________________________ Header ________________________________ */
    

    /* ________________________________ Footer ________________________________ */


    /* ________________________________ Home ________________________________ */


    /* ________________________________ Nosotros ________________________________ */


    /* ________________________________ Productos ________________________________ */


    /* ________________________________ Soluciones ________________________________ */


    /* ________________________________ Contacto ________________________________ */

}

/* sm */
@media (min-width: 576px) and (max-width: 768px) {
    /* ________________________________ TODOS ________________________________ */


    /* ________________________________ Header ________________________________ */


    /* ________________________________ Footer ________________________________ */


    /* ________________________________ Home ________________________________ */


    /* ________________________________ Nosotros ________________________________ */


    /* ________________________________ Productos ________________________________ */


    /* ________________________________ Soluciones ________________________________ */


    /* ________________________________ Contacto ________________________________ */

}

/* xs */
@media (min-width: 0px) and (max-width: 576px) {
    /* ________________________________ TODOS ________________________________ */

    
    /* ________________________________ Header ________________________________ */


    /* ________________________________ Footer ________________________________ */


    /* ________________________________ Home ________________________________ */


    /* ________________________________ Nosotros ________________________________ */


    /* ________________________________ Productos ________________________________ */


    /* ________________________________ Soluciones ________________________________ */


    /* ________________________________ Contacto ________________________________ */
    
}
