@font-face {
    font-family: 'Sackers Gothic Light AT Regular';
    src: url('../../vendor/fonts/Sackers_Gothic_Light_AT_Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Futura Std Book';
    src: url('../../vendor/fonts/Futura_Std_Book.otf') format('opentype');
}

body {
    font-family: 'Futura Std Book', sans-serif;
    font-weight: 400;
}



#footer-enviar {
    color: #FFFFFF;
    background-color: #000000;
}


#footer-enviar:hover {
    color: #000000;
    background-color: #FFFFFF;
}

.footer-input {
    color: #FFFFFF;
}

.footer-input:focus {
    color: #FFFFFF;
}

.footer-input::placeholder {
    color: #FFFFFF;   
}

.link-contacto_social {
    text-decoration: none; 
    color: #FFFFFF; 
    margin-left: 1rem;
}

.link-contacto_social:hover {
    color: fuchsia; 
}

.link-contacto {
    text-decoration: none; 
    font-family: 'Futura Std Book', sans-serif;
    color: #FFFFFF; 
}

.link-contacto:hover {
    text-decoration: none; 
    color: fuchsia; 
}

@media (min-width: 1800px) {

}

@media (min-width: 1400px) and (max-width: 1799px) {
    
}

@media (min-width: 1200px) and (max-width: 1399px) {
    
}

@media (min-width: 992px) and (max-width: 1199px) {
    
}

@media (min-width: 768px) and (max-width: 991px) {
    
}

@media (min-width: 576px) and (max-width: 767px) {
    
}

@media (min-width: 320px) and (max-width: 480px) {
    
}

@media (min-width: 0px) and (max-width: 319px) {
    
}
